body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem 0 1rem;
}

.app {
  text-align: left;
}

.title {
  text-decoration: none;
  color: black;
  margin: 0 1.5rem;
}

.link {
  text-decoration: none;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  padding: 3rem 5rem;
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0 0.25rem 0;
  transition: all 0.25s ease;

  &:hover,
  &:hover #movie-item__title {
    background-color: black;
    color: white;
  }

  &__image {
    object-fit: contain;
    height: 17rem;
    width: 100%;
  }

  &__title {
    text-align: center;
    color: black;
  }
}

.movie-detail {
  display: flex;
  padding: 3rem 0;

  &__info {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    flex: 1 1 80%;
  }

  &__heading {
    margin: 0;
  }

  &__image {
    object-fit: contain;
    height: 17rem;
    padding: 0 2rem;
    flex: 0 0 15%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }
}

.movie-table {
  text-align: left;
  margin-top: 5rem;
  padding: 0;
  border: 2px solid grey;
  border-collapse: collapse;
  width: 60%;

  td {
    border: 2px solid grey;
    padding: 0.3rem;
  }

  tr:nth-child(even) {
    background-color: lightgrey;
  }

  &__name {
    width: 15%;
  }
}

.title-search {
  padding-right: 4rem;

  &__input,
  &__button {
    font-size: 1rem;
    padding: 0.75rem 0.5rem;
    margin-right: 0.75rem;
    border-radius: 8px;
    border: 2px solid grey;
  }

  &__input {
    width: 18rem;
  }
}

.hoverbox {
  background-color: white;
  padding: 0 3rem 0 1rem;
  margin: 7.5rem 0 0 10rem;
  position: absolute;
  border: 2px solid grey;
  text-align: left;
  z-index: 999;
  color: black;
}
